{:cap/id :cap/discord-read
 :cap/tools [:discord.read
             :discord.channel.messages
             :discord.channel.scroll
             :discord.dm.messages
             :discord.search
             :discord.guilds
             :discord.channels
             :discord.list.servers
             :discord.list.channels]}
