{:source-paths ["src/cljs"]

 :dependencies []

 :js-options {:js-provider :import}

 :builds
 {:app
  {:target :esm
   :output-dir "dist"
   :modules {:app {:entries [knoxx.backend.core]
                   :exports {:start knoxx.backend.core/start!
                             :config knoxx.backend.core/config-js
                             :registerAppRoutes knoxx.backend.core/register-app-routes!
                             :registerWsRoutes knoxx.backend.core/register-ws-routes!}}}
   :compiler-options {:output-feature-set :es-next
                      :optimizations :simple
                      :source-map true
                      :infer-externs :auto}}}}
