{:contract/kind   :trigger
 :contract/id     "mentions_trigger"
 :trigger/kind    :event
 :trigger/actor   "discord_automation"
 :trigger/events  [:discord.message]
 :trigger/condition (conditions/discord.mention event)
 :trigger/action  :actions/mentions
 :enabled         false
 :data
 {:context {:check-mentions true}}}
