{:contract/kind   :trigger
 :contract/id     "patrol_trigger"
 :contract/version 3
 :trigger/kind    :cron
 :trigger/actor   "discord_automation"
 :trigger/action  :actions/run-pipeline
 :trigger/with    {:pipeline-id "patrol_pipeline"}
 :trigger/schedule "*/5 * * * *"
 :enabled         true
 :data
 {:context {:channelId "{{defaultChannels}}"
            :patrol true}}}
