{:contract/kind   :action
 :contract/id     "fetch_discord_digest"
 :action/handler  "discord.read"
 :action/params   {:limit 50}
 :data
 {:context  {:channelId "{{trigger.context.channelId}}"}
  :output   {:key  "discord_digest"
             :ttl  "PT2H"}}}
