{:role/id :role/discord-user
 :role/capabilities [:cap/discord
                     :cap/websearch
                     :cap/memory
                     :cap/semantic
                     :cap/multimodal]}
