{:role/id :role/basic-user
 :role/capabilities [:cap/read
                     :cap/memory
                     :cap/semantic
                     :cap/workspace-media
                     :cap/canvas]}
